

input::placeholder {
  font-weight: 400;
}

.tlis li {
  font-size: 15px;
  display: flex;
  gap: 20px;
  margin-bottom: 14px;
  font-weight: 400;
}

.tlis li::before {
  content: "\2022";
  color: rgb(164, 69, 237);
  font-weight: bold;
}
#ftlnk{
  font-size: 14px;
}
#menu{
  top: calc(100% + 20px);
  z-index: 4000;
}
@media screen and (max-width:314px) {
  #logo{
    margin: 0 auto 20px;
  }
  /* #cbut{
  } */
}
.show{
  display: none !important;
}
@media screen and (max-width: 320px) {
  #ftlnk {
    font-size: 12px;
  }
}

.wspc{
  word-spacing: 3px;
}

.mainWord{
  overflow: hidden;
  text-overflow: ellipsis;
}